#pip install -r requirements.txt for innstalling alll requirements in 1 step if i want to dulk bulk installation
Flask   #'==' ke baad version dena optional h
gunicorn  # it is a cloud environments
requests 
